
@{
    ViewBag.Title = "About";
}



<body style="background-image: url('../../Content/Images/daniel-mccullough-HtBlQdxfG9k-unsplash.jpg'); background-size: cover;">
    
    <div class="jumbotron">
        <h2>About</h2><hr />
        <p>SouthFork Design Group, LLC., was founded in 2004 by Ray McDougal. We serve our clients by designing and modeling professional homes, buildings, and more. We hope to service you and help you build your tomorrow!</p>
    </div>
</body>