
@{
    ViewBag.Title = "Central Login";
}

<h2>Central Login</h2>

<button onclick="location.href='@Url.Action("Login", "Home")'">Employees</button>
<button onclick="location.href='@Url.Action("ClientLogin", "Home")'">Clients</button>