
@{
    ViewBag.Title = "Contact";
}



<body>
    <h2>Contact</h2><hr />
    <p>
        Interested in learning more or submitting a potential project? Give us your name, email,
        and any project descriptions and we'll contact you!
    </p>

    @using (Html.BeginForm("SendEmail", "Home", FormMethod.Post))
    {
        <p class="text-danger">@ViewBag.Error</p>
        <label for="inputName">Full Name</label>
        @Html.TextBox("Name", null, new { @class = "form-control" })<br />
        <label for="inputEmail">Email</label>
        @Html.TextBox("Email", null, new { @class = "form-control" })<br />
        <label for="inputNotes">Notes</label>
        @Html.TextArea("Notes", null, new { @class = "form-control" })<br />
        <input type="submit" value="Send" class="btn btn-default" />
    }
</body>