
@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/MyStyles.css" rel="stylesheet" />
</head>

<body>
    <div class="myPic jumbotron" style="height: 800px;">
        <h1 class="myHeading" style="color: white;">Welcome to SouthFork!</h1>
        <hr />
        <p style="color: lightgray;"><i>Let's design your tomorrow!</i></p>
    </div>
</body>