@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <label for="inputEmail">Email address</label><br />
    @Html.TextBox("Email address")<br />
    <label for="inputPassword">Password</label><br />
    @Html.Password("Password")<br />
    <button type="submit">Login</button>
}