@{
    ViewBag.Title = "Login";
}


<body style="background-image: url('../../Content/Images/daniel-mccullough-HtBlQdxfG9k-unsplash.jpg');
      background-size: cover;">

    <div class="jumbotron">
        <h2>Employee Login</h2><hr />

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <label for="inputEmail">Email address</label>
            @Html.TextBox("Email address", null, new { @class="form-control"})
            <label for="inputPassword">Password</label>
            @Html.Password("Password", null, new { @class = "form-control" })
            <button type="submit" class="btn btn-default">Login</button>
        }

    </div>
</body>
