@model SouthFork.Models.Client

@{
    ViewBag.Title = "ClientHome";
}



<body style="background-image: url('../../Content/Images/daniel-mccullough-HtBlQdxfG9k-unsplash.jpg'); background-size: cover;">
    <div class="jumbotron">
        <h2>Client Home</h2><hr />
        
        Welcome, @Html.DisplayFor(Model => Model.FirstName)<br />

        @Html.ActionLink("See My Projects", "SeeProjects", new { id = Model.ClientID }, new { @class = "btn btn-default" })

        <p class="text-danger">@Html.Raw(ViewBag.Count)</p>
    </div>
</body>

